.games-container {
  width: 90%;
  margin-left: 5%;
}

.games-title {
  font-size: 20px;
  color: red;
  text-align: center;
}

.games-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.games-card {
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
}